<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, user-scalable=no"
    <meta name="description" content="Potential-adventure : Designer to Developer" />

    <link rel="shortcut icon" href="../img/favicon.ico">

    <link rel="stylesheet" type="text/css" media="screen" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/prism.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/pa.css">

    <title>Potential Adventure - {{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <header>
        <div class="container">
          <a id="forkme_banner" href="https://github.com/ijmacd/potential-adventure">
            <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
          </a>

          <a href="{{ site.base_url }}">
            <h1 id="project_title">potential-adventure</h1>
            <h2 id="project_tagline">From Designer to Developer</h2>
          </a>
        </div>
    </header>


    <!-- MAIN CONTENT -->
    <main>
      <section class="container">
        {{content}}

        {% if page.prev_href %}
          <a class="btn btn-primary pull-left" href="{{ site.base_url }}{{ page.prev_href }}">&laquo; Previous</a>
        {% endif %}

        {% if page.next_href %}
          <a class="btn btn-primary pull-right" href="{{ site.base_url }}{{ page.next_href }}">Next &raquo;</a>
        {% endif %}
      </section>
    </main>

    <!-- FOOTER  -->
    <footer>
      <div class="container">
        <p class="copyright">Potential-adventure maintained by <a href="https://github.com/IJMacD">IJMacD</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </div>
    </footer>

	<script src="{{ site.base_url }}/js/prism.js"></script>
    
  </body>
</html>
